%h1 Listing medicines

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @medicines.each do |medicine|
    %tr
      %td= medicine.title
      %td= medicine.description
      %td= link_to 'Show', medicine
      %td= link_to 'Edit', edit_medicine_path(medicine)
      %td= link_to 'Destroy', medicine, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Medicine', new_medicine_path
