= form_for @snp do |f|
  - if @snp.errors.any?
    #error_explanation
      %h2= "#{pluralize(@snp.errors.count, "error")} prohibited this snp from being saved:"
      %ul
        - @snp.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :rs_number
    = f.text_field :rs_number
  .actions
    = f.submit 'Save'
