%h1 Listing snps

%table
  %tr
    %th Rs number
    %th Snpedia revision
    %th
    %th
    %th

  - @snps.each do |snp|
    %tr
      %td= snp.rs_number
      %td= snp.snpedia_revision
      %td= link_to 'Show', snp
      %td= link_to 'Edit', edit_snp_path(snp)
      %td= link_to 'Destroy', snp, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Snp', new_snp_path
